<!DOCTYPE html>
<html>
<body>
<!-- Login screen with the option to create new user -->
<h1>Login</h1>
    <form method="post" action="/login">
    <input type="text" id="email" name="email" placeholder="Email">
    <input type="password" id="password" name="password" placeholder="Password">
    <button type="submit">Login</button>
    </form>
<a href="newUser">Create new User</a>
    

</body>
</html>