<!DOCTYPE html>
<html>
  <body>
  <!-- Create new User screen -->
        <form action="/newUserProcess">
          <h4>Create new User</h4>
          <input type="text" id="fName" name="fName" placeholder="First name"><br/>
          <input type="text" id="lName" name="lName" placeholder="Last name"><br/>
          <input type="text" id="email" name="email" placeholder="Email"><br/>
          <input type="submit" value="Create">
        </form>
  </body>
</html>